{% extends "blog/base1.html" %}
{% block content %}

    <!--Navbar End-->

    <!-- content start -->
    <div class="vision"  >
    <div class="container">
    <div class="vision1 col-md-12 col-md-12 col-sm-12 ">
        <h1>Vision</h1>
        <br>
        <p>ACM-DYPIEMR Student Chapter will incubate potential and talent, supporting the personalized development needs of our students to facilitate a structured path from education to employment. We provide a supportive environment for our students to learn and flourish their skills. We also inculcate leadership qualities, industry connectivity, market understanding, personal growth to our students through this platform. Therefore, our vision is the complete development of our students and help them drive their standards higher!</p>
        <br><br><br>
        <h1>Our Team</h1>

    </div>
  <div class="test"> 
  <div class="box">
      <div class="card">
        <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
        </div>
        <div class="details">
            <h2>Tanmay<br><span>Webmaster</span></h2>
        </div>
      </div>
    
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
         </div>
         <div class="details">
            <h2>Nikhil<br><span>President</span></h2>
          </div>
       </div>

       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
         </div>
         <div class="details">
            <h2>Neha<br><span>VP</span></h2>
          </div>
       </div>

       <div class="card">
        <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
        </div>
        <div class="details">
            <h2>Tanmay<br><span>Webmaster</span></h2>
        </div>
      </div>
    
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
         </div>
         <div class="details">
            <h2>Nikhil<br><span>President</span></h2>
          </div>
       </div>

       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
         </div>
         <div class="details">
            <h2>Neha<br><span>VP</span></h2>
          </div>
       </div>
       <div class="card">
        <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
        </div>
        <div class="details">
            <h2>Tanmay<br><span>Webmaster</span></h2>
        </div>
      </div>
    
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
         </div>
         <div class="details">
            <h2>Nikhil<br><span>President</span></h2>
          </div>
       </div>

       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="images">
         </div>
         <div class="details">
            <h2>Neha<br><span>VP</span></h2>
          </div>
       </div>
 
  </div>
</div>
</div>
        </div>
<br>
<br>


    <!-- Content End -->

{% endblock content %}